<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.cfer.comment.dao.CommentDao">
    <resultMap id="BaseResultMap" type="com.yn.cfer.comment.model.Comment">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="DYNAMICS_ID" property="dynamicsId" jdbcType="INTEGER"/>
        <result column="MEMBER_ID" property="memberId" jdbcType="INTEGER"/>
        <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR"/>
        <result column="MEMBER_HEAD_URL" property="memberHeadUrl" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="INTEGER"/>
        <result column="REPLY_MEMBER_ID" property="replyMemberId" jdbcType="INTEGER"/>
        <result column="REPLY_MEMBER_NAME" property="replyMemberName" jdbcType="VARCHAR"/>
        <result column="REPLY_MEMBER_HEAD_URL" property="replyMemberHeadUrl" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="base_col" >
    	ID, DYNAMICS_ID, MEMBER_ID, MEMBER_NAME, MEMBER_HEAD_URL, CONTENT, TYPE, REPLY_MEMBER_ID, REPLY_MEMBER_NAME, REPLY_MEMBER_HEAD_URL, CREATE_TIME, UPDATE_TIME    
    </sql>
    <sql id="base_col_without_id" >
    	DYNAMICS_ID, MEMBER_ID, MEMBER_NAME, MEMBER_HEAD_URL, CONTENT, TYPE, REPLY_MEMBER_ID, REPLY_MEMBER_NAME, REPLY_MEMBER_HEAD_URL, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="findDefault" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_COMMENT WHERE DYNAMICS_ID = #{dynamicsId} ORDER BY CREATE_TIME DESC limit #{count};
    </select>
    <select id="findHistory" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_COMMENT WHERE DYNAMICS_ID = #{dynamicsId} AND ID &lt; #{lastId} ORDER BY CREATE_TIME DESC limit #{count};
    </select>
</mapper>