<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.cfer.community.dao.DynamicsActionRecordDao">
    <resultMap id="BaseResultMap" type="com.yn.cfer.community.model.DynamicsActionRecord">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="DYNAMICS_ID" property="dynamicsId" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="TYPE" property="type" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="base_col" >
    	ID, DYNAMICS_ID, USER_ID, TYPE, CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="base_col_without_id" >
    	DYNAMICS_ID, USER_ID, TYPE, CREATE_TIME, UPDATE_TIME
    </sql>
    <insert id="add" parameterType="com.yn.cfer.community.model.DynamicsActionRecord">
    	INSERT INTO T_CY_ACTION_RECORD (<include refid="base_col_without_id"></include>) 
    	VALUES(#{dynamicsId}, #{userId}, #{type}, #{createTime}, #{updateTime})
    </insert>
    <select id="findByDynamicsIdAndUserId" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_ACTION_RECORD WHERE DYNAMICS_ID = #{dynamicsId} AND USER_ID = #{userId} AND TYPE = #{type};
    </select>
     <delete id="delete">
    	DELETE FROM T_CY_ACTION_RECORD WHERE DYNAMICS_ID = #{dynamicsId} AND USER_ID = #{userId}
    </delete>
</mapper>