<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.cfer.community.dao.DynamicsDao">
    <resultMap id="BaseResultMap" type="com.yn.cfer.community.model.Dynamics">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MEMBER_ID" property="memberId" jdbcType="INTEGER"/>
        <result column="OWNER" property="owner" jdbcType="VARCHAR"/>
        <result column="HEAD_URL" property="headUrl" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="LOCATION" property="location" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="PRAISED_COUNT" property="praisedCount" jdbcType="INTEGER"/>
        <result column="COMMENT_COUNT" property="commentCount" jdbcType="INTEGER"/>
        <result column="REPORT_COUNT" property="reportCount" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <collection property="materials" ofType="com.yn.cfer.community.model.DynamicsMaterial" column="ID" select="findMaterials">
        	<id column="ID" property="id"/>
        	<result column="DYNAMICS_ID" property="dynamicsId"/>
        	<result column="URL" property="url"/>
        	<result column="TYPE" property="type"/>
        	<result column="CONTENT" property="content"/>
        	<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        	<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>
    <sql id="base_col" >
    	ID, MEMBER_ID, OWNER, HEAD_URL, DESCRIPTION, LOCATION, STATUS, PRAISED_COUNT, COMMENT_COUNT, REPORT_COUNT, CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="base_col_without_id" >
    	MEMBER_ID, OWNER, HEAD_URL, DESCRIPTION, LOCATION, STATUS, PRAISED_COUNT, COMMENT_COUNT, REPORT_COUNT, CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="material_col_without_id" >
    	DYNAMICS_ID, URL, TYPE, CONTENT, CREATE_TIME, UPDATE_TIME
    </sql>
    <insert id="add" parameterType="com.yn.cfer.community.model.Dynamics" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO T_CY_DYNAMICS (<include refid="base_col_without_id"></include>)
    	VALUES (#{memberId}, #{owner}, #{headUrl}, #{description}, #{location}, #{status},
    	 #{praisedCount}, #{commentCount}, #{reportCount}, #{createTime}, #{updateTime})
    </insert>
    <select id="findDefault" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE REPORT_COUNT &lt;= 9 ORDER BY CREATE_TIME DESC LIMIT #{count};
    </select>
    <select id="findLatest" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE REPORT_COUNT &lt;= 9 AND ID &gt; #{lastId} ORDER BY CREATE_TIME DESC LIMIT #{count};
    </select>
    <select id="findHistory" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE REPORT_COUNT &lt;= 9 AND ID &lt; #{lastId} ORDER BY CREATE_TIME DESC LIMIT #{count};
    </select>
    <select id="findById" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE ID = #{id}
    </select>
    
    <resultMap type="com.yn.cfer.community.model.DynamicsMaterial" id="MaterialResultMap">
    	<id column="ID" property="id"/>
        	<result column="DYNAMICS_ID" property="dynamicsId"/>
        	<result column="url" property="url"/>
        	<result column="type" property="type"/>
        	<result column="content" property="content"/>
        	<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        	<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="findMaterials" resultMap="MaterialResultMap" parameterType="int">
    	SELECT <include refid="material_col_without_id"></include> FROM T_CY_DYNAMICS_MATERIAL WHERE DYNAMICS_ID = #{dynamicsId}
    </select>
    <update id="updateActionCount" parameterType="java.util.Map">
    	<!-- SELECT * FROM T_CY_DYNAMICS where PRAISED_COUNT = #{praisedCount} and COMMENT_COUNT = #{commentCount} and REPORT_COUNT = #{reportCount} and REPORT_COUNT = #{type} -->
    	UPDATE T_CY_DYNAMICS 
    	<trim prefix="SET" suffixOverrides=",">
    		<if test="praisedCount != null and type == 1">PRAISED_COUNT = PRAISED_COUNT + 1,</if>
    		<if test="praisedCount != null and type == 2">PRAISED_COUNT = PRAISED_COUNT - 1,</if>
    		<if test="commentCount != null and type == 1">COMMENT_COUNT = COMMENT_COUNT + 1,</if>
    		<if test="commentCount != null and type == 2">COMMENT_COUNT = COMMENT_COUNT - 1,</if>
    		<if test="reportCount != null and type == 1">REPORT_COUNT = REPORT_COUNT + 1,</if>
    		<if test="reportCount != null and type == 2">REPORT_COUNT = REPORT_COUNT - 1,</if>
    		UPDATE_TIME = NOW()
    	</trim>
    	 WHERE ID = #{dynamicsId}
    </update>
    <select id="findLikeByNameDefault" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE OWNER LIKE CONCAT('%', #{owner},'%') ORDER BY CREATE_TIME DESC LIMIT #{count}; 
    </select>
    <select id="findLikeByNameHistory" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE OWNER LIKE CONCAT('%', #{owner},'%') AND ID &lt; #{lastId} ORDER BY CREATE_TIME DESC LIMIT #{count}; 
    </select>
    <select id = "findAttentedMemberDynamicsListDefault" resultMap="BaseResultMap">
    	SELECT ID FROM T_CY_DYNAMICS WHERE MEMBER_ID IN (SELECT ATTENTION_MEMBER_ID FROM T_MEMBER_ATTENTION WHERE MEMBER_ID = #{memberId} AND STATUS != 2) ORDER BY CREATE_TIME DESC LIMIT #{count} 
    </select>
    <select id = "findAttentedMemberDynamicsListLatest" resultMap="BaseResultMap">
    	SELECT ID FROM T_CY_DYNAMICS WHERE MEMBER_ID IN (SELECT ATTENTION_MEMBER_ID FROM T_MEMBER_ATTENTION WHERE MEMBER_ID = #{memberId} AND STATUS != 2) AND ID &gt; #{lastId} ORDER BY CREATE_TIME DESC LIMIT #{count} 
    </select>
    <select id = "findAttentedMemberDynamicsListHistory" resultMap="BaseResultMap">
    	SELECT ID FROM T_CY_DYNAMICS WHERE MEMBER_ID IN (SELECT ATTENTION_MEMBER_ID FROM T_MEMBER_ATTENTION WHERE MEMBER_ID = #{memberId} AND STATUS != 2) AND ID &lt; #{lastId} ORDER BY CREATE_TIME DESC LIMIT #{count} 
    </select>
    <select id="findByMemberIdDefault" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE MEMBER_ID = #{memberId} ORDER BY CREATE_TIME DESC LIMIT #{count}; 
    </select>
    <select id="findByMemberIdHistory" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_CY_DYNAMICS WHERE MEMBER_ID = #{memberId} AND ID &lt; #{lastId} ORDER BY CREATE_TIME DESC LIMIT #{count}; 
    </select>
    <select id="countByMemberId" resultType="java.lang.Integer">
    	SELECT count(ID) FROM T_CY_DYNAMICS WHERE MEMBER_ID = #{memberId}
    </select>
</mapper>