<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.cfer.community.dao.TokenDao">
    <resultMap id="BaseResultMap" type="com.yn.cfer.community.model.Token">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="EXPIRE_TIME" property="expireTime" jdbcType="VARCHAR"/>
        <result column="TOKEN_KEY" property="tokenKey" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="base_col" >
    	ID, EXPIRE_TIME, TOKEN_KEY, USER_ID, CREATE_TIME
    </sql>
    <sql id="base_col_without_id" >
    	EXPIRE_TIME, TOKEN_KEY, USER_ID, CREATE_TIME
    </sql>
    <select id="findByTokenKey" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_TOKEN WHERE TOKEN_KEY = #{token};
    </select>
</mapper>