<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.cfer.community.dao.UserAttentionDao">
    <resultMap id="BaseResultMap" type="com.yn.cfer.community.model.UserAttention">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="USER_HEAD_URL" property="userHeadUrl" jdbcType="VARCHAR"/>
        <result column="ATTENTION_USER_ID" property="attentionUserId" jdbcType="INTEGER"/>
        <result column="ATTENTION_USER_NAME" property="attentionUserName" jdbcType="VARCHAR"/>
        <result column="ATTENTION_USER_HEAD_URL" property="attentionUserHeadUrl" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="base_col" >
    	ID, USER_ID,USER_NAME, USER_HEAD_URL, ATTENTION_USER_ID, ATTENTION_USER_NAME, ATTENTION_USER_HEAD_URL,  STATUS, CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="base_col_without_id" >
    	USER_ID,USER_NAME, USER_HEAD_URL, ATTENTION_USER_ID, ATTENTION_USER_NAME, ATTENTION_USER_HEAD_URL,  STATUS, CREATE_TIME, UPDATE_TIME
    </sql>
    <insert id="add" parameterType="com.yn.cfer.community.model.UserAttention">
    	INSERT INTO T_USER_ATTENTION (<include refid="base_col_without_id"></include>)
    	VALUES (#{userId}, #{userName}, #{userHeadUrl},#{attentionUserId}, #{attentionUserName}, #{attentionUserHeadUrl},#{status},#{createTime},#{updateTime})
    </insert>
    <select id="findByUserId" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE USER_ID = #{userId} AND STATUS != 2 ORDER BY CREATE_TIME DESC
    </select>
    <select id="findByAttentionUserId" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE ATTENTION_USER_ID = #{userId} AND STATUS != 2 ORDER BY CREATE_TIME DESC
    </select>
    <select id="find" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE USER_ID = #{userId} AND ATTENTION_USER_ID = #{attentionUserId}
    </select>
    <update id="updateById" parameterType="com.yn.cfer.community.model.UserAttention">
    	UPDATE T_USER_ATTENTION
    	<trim prefix="SET" suffixOverrides=",">
    		<if test="status != null">
    			STATUS = #{status},
    		</if>
    		UPDATE_TIME = NOW()
    	</trim>
    	WHERE ID = #{id}
    </update>
    
    <select id="findFansListDefault" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE ATTENTION_USER_ID = #{userId} AND STATUS != 2 AND USER_ID != #{userId} ORDER BY CREATE_TIME DESC limit #{count}
    </select>
    <select id="findFansListLatest" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE ATTENTION_USER_ID = #{userId} AND STATUS != 2 AND ID &gt; #{lastId}  AND USER_ID != #{userId} ORDER BY CREATE_TIME DESC LIMIT #{count}
    </select>
    <select id="findFansListHistory" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE ATTENTION_USER_ID = #{userId} AND STATUS != 2 AND ID &lt; #{lastId}  AND USER_ID != #{userId} ORDER BY CREATE_TIME DESC LIMIT #{count}
    </select>
    
    <select id="findAttentedListDefault" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE USER_ID = #{userId} AND STATUS != 2  AND ATTENTION_USER_ID != #{userId} ORDER BY CREATE_TIME DESC LIMIT #{count}
    </select>
    <select id="findAttentedListLatest" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE USER_ID = #{userId} AND STATUS != 2 AND ID &gt; #{lastId} AND ATTENTION_USER_ID != #{userId} ORDER BY CREATE_TIME DESC LIMIT #{count}
    </select>
    <select id="findAttentedHistory" resultMap="BaseResultMap">
    	SELECT <include refid="base_col"></include> FROM T_USER_ATTENTION WHERE USER_ID = #{userId} AND STATUS != 2 AND ID &lt; #{lastId} AND ATTENTION_USER_ID != #{userId} ORDER BY CREATE_TIME DESC LIMIT #{count}
    </select>
    <select id="countFansByAttentionUserId" resultType="java.lang.Integer">
    	SELECT COUNT(ID) FROM T_USER_ATTENTION WHERE ATTENTION_USER_ID = #{userId} AND USER_ID != #{userId} AND STATUS != 2
    </select>
    <select id="countAttentedByUserId" resultType="java.lang.Integer">
    	SELECT COUNT(ID) FROM T_USER_ATTENTION WHERE USER_ID = #{userId} AND ATTENTION_USER_ID != #{userId} AND STATUS != 2
    </select>
    <select id="findFansTop10" resultMap="BaseResultMap">
    	SELECT ID,ATTENTION_USER_ID, ATTENTION_USER_NAME, ATTENTION_USER_HEAD_URL FROM T_USER_ATTENTION WHERE USER_ID != ATTENTION_USER_ID AND ATTENTION_USER_ID != #{userId}  GROUP BY ATTENTION_USER_ID ORDER BY COUNT(ID) DESC LIMIT 10;
    </select>
</mapper>